
@import url('https://fonts.googleapis.com/css?family=Work+Sans:200');

.nudge-right {
  text-align: left;
  padding-left: 2em;
}

.search-container {
  text-align: center;
  padding: 1em;
}

.project-font {
font-family: 'Work Sans', sans-serif;
font-style: normal;
font-weight: bold;
}

input[type=text] {
  background: transparent;
  border: 1px solid black;
  /* border-bottom: 2px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-top: 2px solid black; */
  border-radius: .5em;
}

.table-tags {
  padding: .5rem !important;
}

.table-tag {
  padding: .2rem !important;
  margin: .2rem;
}

.search-text {
  color: black;
  /* background-color: #77B1EC; */
}

#RoundedTable {
  /* border-radius: 5px; */
  border-collapse: separate;
  padding:1rem;
}

#RoundedTable th {
  border: 1px solid gray;
  /* border-radius: 10px; */
  /* padding-left: 1em; */

}
#RoundedTable td {
  border: 1px solid gray;
  /* border-radius: 10px; */
  /* padding-left: 1em; */

}

::-webkit-input-placeholder { /* WebKit browsers */
  color:    black;
   opacity: .2 !important;
}

/* 
table {
  border-spacing: 1em;
} */

.table-top {
  font-size:1.5rem;
}

.numeric {
  text-align: center !important
}

.table {
  border-radius: 9em;
  border: none;
}

.searchContainer {
  padding:1em;
}

.form-control {
  font-size: 2rem;
  padding: 25px 10px;
}

td { 
  /* padding: 10px; */
}
th { 
  /* padding: 10px; */
}

.navbar-title {
  color:white;
  font-size:4rem;
  border-style: solid;
  border-width: .2rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

.large-text {
  font-size:2rem;
}

.font-weight-bold {
  font-weight: bolder;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  padding-left: 2rem;
  margin-bottom: 0;
  list-style: none;
  color: black;
  text-align: center;
}

.white-link {
  color:white !important;
  text-decoration: underline;
}

.decibio-navbar {
  /* background-color: #77B1EC; */
  background-image: -webkit-gradient(linear,left top,right top,from(#42c3c3),to(#427a9e));
  color: white;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  margin: 2rem;
}

#navbar-text {
  text-align: center;
}

th {
  background-color: #427a9e !important;
}