
@import url('https://fonts.googleapis.com/css?family=Work+Sans:200');

.nudge-right {
  text-align: left;
  padding-left: 2em !important;
}

.search-container {
    /* display: flex; */
    /* justify-content: space-between; */
    
    /* padding: 1em; */
    /* border-radius: 6px; */
    background-color: #fff;
    box-shadow: rgba(0,0,0,.2) 0 2px 4px;
    margin: auto;
  }
  /* .search-container:first-child {
    margin-bottom: 1em;
  } */

.margin-auto {
  margin:  3rem auto;
}

.project-font {
font-family: 'Work Sans', sans-serif;
font-style: normal;
font-weight: bold;
}

input[type=text] {
  background: transparent;
  border: 2px solid #00b8d4;
  /* border-bottom: 2px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-top: 2px solid black; */
  border-radius: .5em;
}

.table-tags {
  padding: .5rem !important;
}

.table-tag {
  padding: .2rem !important;
  margin: .2rem;
}

#RoundedTable {
  /* border-radius: 5px; */
  /* border-collapse: separate; */
  padding:1rem;
}

#RoundedTable th {
  border: 1px solid gray;
  /* border-radius: 10px; */
  /* padding-left: 1em; */

}
#RoundedTable td {
  border: 1px solid gray;
  /* border-radius: 10px; */
  /* padding-left: 1em; */

}

::-webkit-input-placeholder { /* WebKit browsers */
  color:    black;
   opacity: .2 !important;
}

/* 
table {
  border-spacing: 1em;
} */

.table-top {
  font-size:1.5rem;
}

.numeric {
  text-align: center !important
}

.table {
  /* border-radius: 9em; */
  border: none;
}

/* .searchContainer {
  padding:1em;
} */

.form-control {
  font-size: 2rem;
  padding: 25px 10px;
}

td { 
  /* padding: 10px; */
}
th { 
  /* padding: 10px; */
}

.navbar-title {
  color:white;
  font-size:4rem;
  border-style: solid;
  border-width: .2rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

.large-text {
  font-size:2rem;
}

.font-weight-bold {
  font-weight: bolder;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  padding-left: 2rem;
  margin-bottom: 0;
  list-style: none;
  color: black;
  text-align: center;
}

.white-link {
  color:white !important;
  text-decoration: underline;
}

.decibio-navbar {
  /* background-color: #77B1EC; */
  background-image: -webkit-gradient(linear,left top,right top,from(#42c3c3),to(#427a9e));
  color: white;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5rem;
  margin-top: 1rem;
}

#navbar-text {
  text-align: center;
}

th {
  background-color: #427a9e !important;
}

.l-container {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box; 
  padding-left: 2em;
  padding-right: 2em;
	/* border-radius: 6px; */
	background-color: #fff;
	/* box-shadow: rgba(0,0,0,.2) 0 2px 4px; */
}
.l-container:first-child {
	margin-bottom: 1em;
}

.check-container {
	/* display: flex;
	justify-content: space-between;
	 */
	padding: 1em;
}
.l-container:first-child {
	margin-bottom: 1em;
}


label.sm {
  display: block;
  float: left;
  width: 25%;
  padding-left:.5em;
  padding-right:.5em;

}
label.sm:last-child:after {
  clear: both;
  content: " ";
  display: block;
  height: 0px;
  overflow: hidden;
  padding-left:.5em;

}


.Form {
	--with: 2rem;
	
	/* margin: auto; */
	padding: 1em;
	/* width: 60rem; */
}
.Form-label {
	display: flex;
	align-items: center;
	color: #00b8d4;
	font-weight: bold;
  transition: .5s;
}
.Form-label::before {
	content: "";
	display: inline-block;
	margin-right: .2em;
	border: 2px solid;
	border-radius: 3px;
	width: var(--with);
	height: var(--with);
}
.Form-input:checked + .Form-label::before {
	content: "✔️";
	font-size: 1.5rem;;
}
.Form-input:checked + .Form-label {
	color: #ff9100;
}
.Form-label,
.Form-input { cursor: pointer; }
.Form-input { display: none; }